<h1 class="display-3 text-secondary text-center">
  About
</h1>
<p class="lead text-center">An Application built with Node, Express and Mongo DB</p>
<figure class="text-center">
  <img class="img-fluid" src="https://wallpaper-house.com/data/out/9/wallpaper2you_364325.jpg" alt="">
</figure>