<div class="jumbotron text-center">
  <h1 class="display-3 text-success">
    {{title}}
  </h1>
  <p class="lead">A SASS Application for Your Personal Notes & Code Snippets</p>
  <a href="/notes/add" class="btn btn-dark btn-lg">Add Snippets</a>
</div>